body {
    background-color: hsl(187, 45%, 20%);
    color: #fff;
}

.container {
    max-width: 80%;
    margin: 18px auto;
}

.nav {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
}

ul.nav {
    margin: 0;
}

li {
    margin-bottom: 8px;
}

li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

li a:hover {
    color: grey;
    transition: 0.6s;
    text-decoration: underline;
}

img {
    border-radius: 6px;
}